---
import avatar from "@/assets/images/avatar.webp";
import CV from "@/icons/react/CV";
import Linkedin from "@/icons/react/Linkedin.tsx";
import Mail from "@/icons/react/Mail.tsx";
import { Image } from "astro:assets";
import SectionContainer from "./SectionContainer.astro";
import Badge from "./react/Badge";
import BadgeLink from "./react/BadgeLink";

const badges = [
  {
    href: "https://www.linkedin.com/in/diego-cobo-590a231b7/",
    icon: Linkedin,
    text: "Linkedin",
    color: "bg-blue-600/50",
    hoverColor: "hover:bg-blue-800",
    darkColor: "dark:bg-blue-600/90"
  },
  {
    href: "mailto:diego.anc14@gmail.com",
    icon: Mail,
    text: "diego.anc14@gmail.com",
    color: "bg-cyan-800/50",
    hoverColor: "hover:bg-cyan-900",
    darkColor: "dark:bg-cyan-800/90"
  },
  {
    href: "/docs/cv.pdf",
    icon: CV,
    text: "CV",
    color: "bg-cyan-800/50",
    hoverColor: "hover:bg-cyan-900",
    darkColor: "dark:bg-cyan-800/90"
  }
];
---

<SectionContainer class="py-44" id="home">
  <div class="flex flex-col items-center gap-4 sm:max-w-3xl sm:items-baseline">
    <section class="m-auto flex flex-col items-center gap-8 sm:flex-row">
      <div class="relative m-auto h-32 w-32 overflow-hidden rounded-full">
        <Image class="absolute" src={avatar} alt="Avatar image" />
      </div>
      <div class="flex flex-col gap-2 sm:gap-0">
        <h1 class="text-center text-4xl font-black sm:text-6xl">Diego Cobo</h1>
        <Badge className="self-center sm:self-start">Designer</Badge>
      </div>
    </section>
    <p class="text-pretty px-8 text-center sm:max-w-full sm:p-0 sm:text-left sm:text-inherit">
      Graphic designer and digital animator with more than 4 years of experience, passionate about continuous
      learning and adapting to new trends in design and communication.
    </p>
    <div class="flex max-w-fit flex-col gap-4 sm:flex-row">
      {
        badges.map(({ href, icon: Icon, text, color, hoverColor, darkColor }) => (
          <BadgeLink className={`${color} font-semibold ${hoverColor} ${darkColor}`} href={href}>
            <Fragment>
              <Icon />
            </Fragment>
            {text}
          </BadgeLink>
        ))
      }
    </div>
  </div>
</SectionContainer>
